.ShadowDown {
    -webkit-box-shadow: 0 10px 6px -6px rgb(199, 194, 194);
    -moz-box-shadow: 0 10px 6px -6px rgb(199, 194, 194);
    box-shadow: 0 10px 6px -6px rgb(199, 194, 194);
}

.Titulo {
    width: 114px;
    height: 41px;
    margin: 20px 354.5px 19px 423.5px;
    font-family: Avenir;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--bambu);
}