<app-header></app-header>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <select class="form-select" aria-label="Default select example" (change)="filterChanged($event.target.value)" [(ngModel)]="seleccionado.paisValue">
      <option *ngFor="let type of filterCountry" [value]="type.value">{{type.display}}</option>
      
    </select>
        </div>
        <div class="col">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="catSeleccionado.catValue" (change)="filterChangedCategory($event.target.value)">
      <option *ngFor="let type of filterCategory" [value]="type.value">{{type.display}}</option>
      
    </select>
        </div>
    </div>
</div>

<div class="container mt-4">


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let noticia of noticias">
            <div class="card">
                <img src="{{noticia.urlToImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{noticia.title}}</h5>
                    <p>Publicado: {{noticia.publishedAt | date}}</p>
                    <p class="card-text">{{noticia.description}}</p>
                    <p>Por: {{noticia.author}}</p>
                </div>
            </div>
        </div>
    </div>
</div>